.my-nav, .intro-header {
    background-color: rgb(0, 153, 76);
}

.fragment-title {
    text-align: center;
}

.btn-rules-action, .btn-activate {
    border-radius: 10%;
    padding: 5%;
}

.btn-create-channel, .btn-add, .btn-create-rule {
    border-radius: 24px;
    margin-bottom: 5%;
    padding: 5%;
}

.btn-remove {
    border-radius: 50%;
    float: right;
    padding: 0.5px;
}

.rule-fragment, .channel-fragment, .new-rule-box {
    line-height:140px;
}

.new-rule-box {
    height: 150px;
}

.rule-item, .channel-item {
    box-shadow: 5px 5px 5px 5px #888;
    margin-bottom: 15px;    
    padding-bottom: 15px;
    padding-top: 15px;
}

.rule-info {
    text-align: center;
    vertical-align: middle;
    font-size: 1.5ex;
}

.rule-info p {
    margin-bottom: -2ex;
    line-height: 100%;
}

.img-channel {
    margin: auto;
}

.img-circle {
    height: 128px;
    width: 128px;
}

.img-arrow {
    display: inline-block;
    vertical-align: middle;
}

.action-item, .event-item {
    margin-bottom: 15px;
    padding-bottom: 7px;
}

.action-item:hover, .event-item:hover {
    box-shadow: 0 0 5px 5px #888;
    margin-bottom: 15px;
}

.action-fragment, .event-fragment {
    margin-bottom: 2px;
}

.event-box, .action-box {
    background: linear-gradient(50deg, gray, white);
    border-radius: 30%;
    border-style: solid;
    height: 100%;
    width: auto;
}

.new-rule {
    height: 200px;
}

#action-options-dialog, #event-options-dialog, #rule-options-dialog {
    background-color: gray;
}